fastapi==0.115.0
uvicorn==0.30.6
tensorflow-cpu==2.20.0
opencv-python-headless==4.10.0.84
joblib==1.4.2
numpy>=2.1.0
starlette==0.37.2
gdown==5.2.0
python-multipart==0.0.9
scikit-learn==1.5.2
